<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>代码生成器</title>
</head>
<body>
    <table border="2px" align="center">
        <tr>
            <th>用户名</th>
            <td><input id="userName" type="text" value="root"></td>
        </tr>
        <tr>
            <th>密码</th>
            <td><input id="password" type="password" value="123456"></td>
        </tr>
        <tr>
            <th>IP:端口号</th>
            <td><input id="ipAndPort" type="text" value="localhost:3306"></td>
        </tr>
        <tr>
            <th>数据库名</th>
            <td><input id="databaseName" type="text" value="used_car_market"></td>
        </tr>
        <tr>
            <th>表名</th>
            <td><input id="tableName" type="text" value="sys_user"></td>
        </tr>
        <tr>
            <th>生成包的层级结构名</th>
            <td><input id="packagesName" type="text" value="com.mkinfo.carhouse"></td>
        </tr>
        <tr>
            <td colspan="2"><input id="sub" type="button" value="生成代码"></td>
        </tr>
    </table>
</body>
<script type="text/javascript" th:src="@{/js/tools/jquery-1.8.3.js}" ></script>
<script type="text/javascript" th:src="@{/js/utils/CodeGenerator.js}" ></script>

</html>