<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
</head>
<body>
<form action="/record/detail" method="get">
    <label for="recordDate"></label><input type="date" id="recordDate" name="recordDate">
    <input type="submit" id="submit" value="查看">
</form>
<script type="text/javascript">
    $(function (){
        $("#save").click(function (){
            let serialize = $("#detail-form").serialize();
            $.ajax({
                url:"/record/detail-save",
                data:serialize,
                success:function(data){
                    $("#result").text(data)
                }
            });
        });
    });
</script>
</body>
</html>