<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>char ai</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>

<input type="text" id="token" class="token"><button id="token_but" class="token">token设置</button>
<button id="delete_but" class="delete ">删除本次会话</button>
<button id="check_key_but" >查看关键数据</button>
<hr/>

<input type="text" id="prompt"><button id="encode_but">send</button><button id="clear_but">clear</button>


<table border="1">
    <tr>
        <td id="return_content">

        </td>
        <td id="pronunciation">
<!--            <video controls="" autoplay="" name="media">-->
<!--                <source src="https://dict.youdao.com/dictvoice?audio=I%20am%20Chinese&le=en" type="audio/mpeg">-->
<!--            </video>-->
        </td>
    </tr>
</table>

<script type="text/javascript">

    $("#token_but").click(function () {
        $.ajax({
            url:"/chat-ai/token",
            async: false,
            data:{
                "token":$("#token").val()
            },
            success:function(data){
                $(".token").hide();
                alert(data)
            }
        });
    });

    $("#encode_but").click(function () {
        $.ajax({
            url:"/chat-ai/talk",
            async: false,
            data:{
                "prompt":$("#prompt").val()
            },
            success:function(data){
                clearVideo()
                $("#return_content").text(data)
                createVideo(data)
            }
        });
    });

    $("#clear_but").click(function (){
        $("#prompt").val('')
    });

    $("#delete_but").click(function () {
        $.ajax({
            url:"/chat-ai/delete",
            async: false,
            success:function(data){
                alert(data)
            }
        });
    });

    $("#check_key_but").click(function () {
        $.ajax({
            url:"/chat-ai/check-key",
            async: false,
            success:function(data){
                alert(data)
            }
        });
    });

    function clearVideo() {
        // 获取指定的td元素
        var tdElement = document.getElementById("pronunciation");

// 获取td元素下的所有video元素
        var videoElements = tdElement.getElementsByTagName("video");

// 检查是否存在video元素
        if (videoElements.length > 0) {
            // 删除第一个video元素
            tdElement.removeChild(videoElements[0]);
        }
    }

    function createVideo(data) {
        data = data.replace(/ /g, "%20")
        var srcStr = 'https://dict.youdao.com/dictvoice?audio='+data+'&le=en'

        var video = document.createElement("video");
        video.controls = true;
        video.autoplay = true
        video.name = "media"
        video.id = "mediaVideo"

        var source = document.createElement("source");
        source.src = srcStr
        source.type = "audio/mpeg"

        var tdElement = document.getElementById("pronunciation");
        tdElement.appendChild(video);
        var videoElement = document.getElementById("mediaVideo");
        videoElement.appendChild(source);
    }

</script>

</body>
</html>